/*  phpBB3 Responsive Style Sheet
    --------------------------------------------------------------
	Style name:			foroexin (specific style for the Exin Forum http://www.exincastillos.es)
	Based on style:		prosilver
	Original author:	javiexin ( javiexin@gmail.com )
	Modified by:		javiexin ( javiexin@gmail.com )
    --------------------------------------------------------------
*/

/* Logo and header background related changes for responsive layout */
.headerbar .inner {
	background-image: none;
}

#site-description {
	min-height: auto;
	min-width: auto;
}

#logo {
	display: inline-block;
	width: auto;
}

.imageset.site_logo {
	background-image: url("./images/exin_castillos_logo.png");
	padding-left: 250px;
	padding-top: 50px;
}

#site-description h1 {
	display: none;
}
